{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <title>Turnero</title>
        <style>
            form{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <nav>
            <h1 id="logo">Turnero</h1>
            <!-- HAMBURGER LINES -->
            <div class="hamburger">
                <span class="lines"></span>
                <span class="lines"></span>
                <span class="lines"></span>
            </div>
            <!-- LINKS -->
            <ul id="nav-links">
                <li><a href="../" class="links">Home</a></li>
                <li><a href="../visualizar/" class="links">Cola</a></li>
                <li><a href="../siguiente/" class="links">Siguiente</a></li>
            </u>
        </nav>
        <form method="POST">
            {% csrf_token %}
            {{ formulario.as_p }}
            <button type="submit">Enviar</button>
        </form>
        <div id="container-numeric" style="margin-top: 15px;">
            <div id="numeric">
                <div class="linea">
                    <div class="numero btn btn-secondary rounded-pill px-3" id="boton1">1</div>
                    <div class="numero btn btn-secondary rounded-pill px-3" id="boton2">2</div>
                    <div class="numero btn btn-secondary rounded-pill px-3" id="boton3">3</div>
                </div>
                <div class="linea">
                    <div class="numero btn btn-secondary rounded-pill px-3" id="boton4">4</div>
                    <div class="numero btn btn-secondary rounded-pill px-3" id="boton5">5</div>
                    <div class="numero btn btn-secondary rounded-pill px-3" id="boton6">6</div>
                </div>
                <div class="linea">
                    <div class="numero btn btn-secondary rounded-pill px-3" id="boton7">7</div>
                    <div class="numero btn btn-secondary rounded-pill px-3" id="boton8">8</div>
                    <div class="numero btn btn-secondary rounded-pill px-3" id="boton9">9</div>
                </div>
                <div class="linea">
                    <div class="numero btn btn-light rounded-pill px-3" id="botonB">BORRAR</div>
                    <div class="numero btn btn-secondary rounded-pill px-3" id="boton0">0</div>
                    <div class="numero btn btn-light rounded-pill px-3" id="botonL">LIMPIAR</div>
                </div>
            </div>
        </div>
        <script src="{% static 'scripts.js' %}"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var botonesNumericos = document.querySelectorAll(".numero");
                var campoCedula = document.getElementById("id_cedula");
                botonesNumericos.forEach(function(boton) {
                    boton.addEventListener("click", function() {
                        var valor = boton.textContent;
                        if (valor === "BORRAR") {
                            campoCedula.value = campoCedula.value.slice(0, -1);
                        } else if (valor === "LIMPIAR") {
                            campoCedula.value = "";
                        } else {
                            campoCedula.value += valor;
                        }
                    });
                });
            });
            const labels = document.getElementsByTagName("label");
            labels[0].remove();
            const numeric = document.getElementById("container-numeric");
            const ps = document.getElementsByTagName("p");
            ps[0].appendChild(numeric);
            labels[0].remove();
            const buttons = document.getElementsByTagName("button");
            buttons[0].setAttribute("class", "btn btn-success rounded-pill px-3");
            const inputs = document.getElementsByTagName("input");
            inputs[1].setAttribute("placeholder", "Digite su cédula");
        </script>        
    </body>
</html>