{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <title>Turnero - Siguiente</title>
    </head>
    <body>
        <nav>
            <h1 id="logo">Turnero</h1>
            <!-- HAMBURGER LINES -->
            <div class="hamburger">
                <span class="lines"></span>
                <span class="lines"></span>
                <span class="lines"></span>
            </div>
            <!-- LINKS -->
            <ul id="nav-links">
                <li><a href="../" class="links">Home</a></li>
                <li><a href="../visualizar/" class="links">Cola</a></li>
                <li><a href="../siguiente/" class="links">Siguiente</a></li>
            </u>
        </nav>
        <div class="container">
            <div class="row">
              <div class="col">
                <caption>Siguiente a atender</caption>
                <table class="table table-striped table-hover caption-top align-middle">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Servicio</th>
                            <th>Prioridad</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{siguiente.0}}</td>
                            <td>{{siguiente.1}}</td>
                            <td>{{siguiente.2}}</td>
                            <td><form method="POST">{% csrf_token %}<input type="submit" value="Finalizar" class="btn btn-success rounded-pill px-3"></form></td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
        </div>

        <script src="{% static 'scripts.js' %}"></script>
    </body>
</html>