{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <title>Turnero - Cola</title>
    </head>
    <body>
        <nav>
            <h1 id="logo">Turnero</h1>
            <!-- HAMBURGER LINES -->
            <div class="hamburger">
                <span class="lines"></span>
                <span class="lines"></span>
                <span class="lines"></span>
            </div>
            <!-- LINKS -->
            <ul id="nav-links">
                <li><a href="../" class="links">Home</a></li>
                <li><a href="../visualizar/" class="links">Cola</a></li>
                <li><a href="../siguiente/" class="links">Siguiente</a></li>
            </u>
        </nav>
        <div class="container">
          <div class="row">
            <div class="col">
              <table class="table table-striped table-hover caption-top align-middle">
                <caption>Listado de cola por orden de prioridad-llegada</caption>
                <thead>
                  <tr>
                    <th>Orden</th>
                    <th>Nombre</th>
                    <th>Servicio</th>
                    <th>Prioridad</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in listado %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ item.0 }}</td>
                      <td>{{ item.1 }}</td>
                      <td>{{ item.2 }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

          <script src="{% static 'scripts.js' %}"></script>
          <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    </body>
</html>